input {
    margin: 7px;
    width: 250px;
    height: 54px;
    font-size: 25px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

.login-button {
    
}