<div class="event">
    <div class="event-header">
      <div class="event-image">
        <img
          src="https://thispersondoesnotexist.com/image"
          class="admin-image"
          alt=""
        />
      </div>
      <div class="event-title">
        <p>Tenis u paru, treba nam 1</p>
        <p class="admin-name">By David Razum</p>
      </div>
    </div>
    <div class="event-main">
      <div class="event-info" style="clear: both">
        <div class="event-place">Centar Sokol, Osijek</div>
        <div class="event-time">Monday, 17:00</div>
      </div>
      <div class="event-description">
        Pozdrav, fali nam jedan igrac za tenis u dvoje. Uzeli smo termina od
        2 sata. U slucaju lozeg vremena javim se.
        <br />
        Inace igramo 2 puta tjedno
        <br />
        Ponedjeljak: 17h
        <br />
        Srijeda: 18h
        <br />
        Termina je 30kn po osobi, nademo se u kaficu prije.
      </div>
    </div>
    <!-- <hr class="" /> -->
    <div class="event-footer">
      <div class="members">
        <img
          *ngFor="let member of [1, 2, 3]"
          src="https://thispersondoesnotexist.com/image"
          class="member-image"
          alt=""
        />
        <img
          (click)="apply('')"
          src="assets/img/add-user.png"
          class="new-member-image"
          alt=""
        />
        <!-- <div class="member"></div>
        <div class="new-member"></div> -->
      </div>
    </div>
  </div>